@function bx-cols-12($cols){
  $number: (100% / 12) * $cols;
  @return calc( #{$number} - #{$gutterX} );
}
@function bx-cols-12-tight($cols){
  $number: (100% / 12) * $cols;
  @return $number;
}
@function bx-cols-24($cols){
  $number: (100% / 24) * $cols;
  @return calc( #{$number} - #{$gutterX} );
}
@function bx-cols-24-tight($cols){
  $number: (100% / 24) * $cols;
  @return $number;
}

/*
12 COL WITH GUTTERS
*/
@mixin boxes-with-gutter-12 {
  // tiny screens
  @media screen {
    > [bx-width-tny="12"] { width: calc(100% - #{$gutterX}); }
    > [bx-width-tny="11"] { width: calc(91.66% - #{$gutterX}); }
    > [bx-width-tny="10"] { width: calc(83.33% - #{$gutterX}); }
    > [bx-width-tny="9"] { width: calc(75% - #{$gutterX}); }
    > [bx-width-tny="8"] { width: calc(66.66% - #{$gutterX}); }
    > [bx-width-tny="7"] { width: calc(58.33% - #{$gutterX}); }
    > [bx-width-tny="6"] { width: calc(50% - #{$gutterX}); }
    > [bx-width-tny="5"] { width: calc(41.66% - #{$gutterX}); }
    > [bx-width-tny="4"] { width: calc(33.33% - #{$gutterX}); }
    > [bx-width-tny="3"] { width: calc(25% - #{$gutterX}); }
    > [bx-width-tny="2"] { width: calc(16.66% - #{$gutterX}); }
    > [bx-width-tny="1"] { width: calc(8.33% - #{$gutterX}); }
  }
  // small screens
  @media screen and (min-width: 500px) {
    > [bx-width-sml="12"] { width: calc(100% - #{$gutterX}); }
    > [bx-width-sml="11"] { width: calc(91.66% - #{$gutterX}); }
    > [bx-width-sml="10"] { width: calc(83.33% - #{$gutterX}); }
    > [bx-width-sml="9"] { width: calc(75% - #{$gutterX}); }
    > [bx-width-sml="8"] { width: calc(66.66% - #{$gutterX}); }
    > [bx-width-sml="7"] { width: calc(58.33% - #{$gutterX}); }
    > [bx-width-sml="6"] { width: calc(50% - #{$gutterX}); }
    > [bx-width-sml="5"] { width: calc(41.66% - #{$gutterX}); }
    > [bx-width-sml="4"] { width: calc(33.33% - #{$gutterX}); }
    > [bx-width-sml="3"] { width: calc(25% - #{$gutterX}); }
    > [bx-width-sml="2"] { width: calc(16.66% - #{$gutterX}); }
    > [bx-width-sml="1"] { width: calc(8.33% - #{$gutterX}); }
  }
  // medium screens
  @media screen and (min-width: 800px) {
    > [bx-width-med="12"] { width: calc(100% - #{$gutterX}); }
    > [bx-width-med="11"] { width: calc(91.66% - #{$gutterX}); }
    > [bx-width-med="10"] { width: calc(83.33% - #{$gutterX}); }
    > [bx-width-med="9"] { width: calc(75% - #{$gutterX}); }
    > [bx-width-med="8"] { width: calc(66.66% - #{$gutterX}); }
    > [bx-width-med="7"] { width: calc(58.33% - #{$gutterX}); }
    > [bx-width-med="6"] { width: calc(50% - #{$gutterX}); }
    > [bx-width-med="5"] { width: calc(41.66% - #{$gutterX}); }
    > [bx-width-med="4"] { width: calc(33.33% - #{$gutterX}); }
    > [bx-width-med="3"] { width: calc(25% - #{$gutterX}); }
    > [bx-width-med="2"] { width: calc(16.66% - #{$gutterX}); }
    > [bx-width-med="1"] { width: calc(8.33% - #{$gutterX}); }
  }
  // large screens
  @media screen and (min-width: 1100px) {
    > [bx-width-lrg="12"] { width: calc(100% - #{$gutterX}); }
    > [bx-width-lrg="11"] { width: calc(91.66% - #{$gutterX}); }
    > [bx-width-lrg="10"] { width: calc(83.33% - #{$gutterX}); }
    > [bx-width-lrg="9"] { width: calc(75% - #{$gutterX}); }
    > [bx-width-lrg="8"] { width: calc(66.66% - #{$gutterX}); }
    > [bx-width-lrg="7"] { width: calc(58.33% - #{$gutterX}); }
    > [bx-width-lrg="6"] { width: calc(50% - #{$gutterX}); }
    > [bx-width-lrg="5"] { width: calc(41.66% - #{$gutterX}); }
    > [bx-width-lrg="4"] { width: calc(33.33% - #{$gutterX}); }
    > [bx-width-lrg="3"] { width: calc(25% - #{$gutterX}); }
    > [bx-width-lrg="2"] { width: calc(16.66% - #{$gutterX}); }
    > [bx-width-lrg="1"] { width: calc(8.33% - #{$gutterX}); }
  }
  // x large
  @media screen and (min-width: 1500px) {
    > [bx-width-xl="12"] { width: calc(100% - #{$gutterX}); }
    > [bx-width-xl="11"] { width: calc(91.66% - #{$gutterX}); }
    > [bx-width-xl="10"] { width: calc(83.33% - #{$gutterX}); }
    > [bx-width-xl="9"] { width: calc(75% - #{$gutterX}); }
    > [bx-width-xl="8"] { width: calc(66.66% - #{$gutterX}); }
    > [bx-width-xl="7"] { width: calc(58.33% - #{$gutterX}); }
    > [bx-width-xl="6"] { width: calc(50% - #{$gutterX}); }
    > [bx-width-xl="5"] { width: calc(41.66% - #{$gutterX}); }
    > [bx-width-xl="4"] { width: calc(33.33% - #{$gutterX}); }
    > [bx-width-xl="3"] { width: calc(25% - #{$gutterX}); }
    > [bx-width-xl="2"] { width: calc(16.66% - #{$gutterX}); }
    > [bx-width-xl="1"] { width: calc(8.33% - #{$gutterX}); }
  }
}

/*
12 COL WITHOUT GUTTERS
*/
@mixin boxes-without-gutter-12 {
  // tiny screens
  @media screen {
    > [bx-width-tny="12"] { width: calc(100%); }
    > [bx-width-tny="11"] { width: calc(91.66%); }
    > [bx-width-tny="10"] { width: calc(83.33%); }
    > [bx-width-tny="9"] { width: calc(75%); }
    > [bx-width-tny="8"] { width: calc(66.66%); }
    > [bx-width-tny="7"] { width: calc(58.33%); }
    > [bx-width-tny="6"] { width: calc(50%); }
    > [bx-width-tny="5"] { width: calc(41.66%); }
    > [bx-width-tny="4"] { width: calc(33.33%); }
    > [bx-width-tny="3"] { width: calc(25%); }
    > [bx-width-tny="2"] { width: calc(16.66%); }
    > [bx-width-tny="1"] { width: calc(8.33%); }
  }
  // small screens
  @media screen and (min-width: 500px) {
    > [bx-width-sml="12"] { width: calc(100%); }
    > [bx-width-sml="11"] { width: calc(91.66%); }
    > [bx-width-sml="10"] { width: calc(83.33%); }
    > [bx-width-sml="9"] { width: calc(75%); }
    > [bx-width-sml="8"] { width: calc(66.66%); }
    > [bx-width-sml="7"] { width: calc(58.33%); }
    > [bx-width-sml="6"] { width: calc(50%); }
    > [bx-width-sml="5"] { width: calc(41.66%); }
    > [bx-width-sml="4"] { width: calc(33.33%); }
    > [bx-width-sml="3"] { width: calc(25%); }
    > [bx-width-sml="2"] { width: calc(16.66%); }
    > [bx-width-sml="1"] { width: calc(8.33%); }
  }
  // medium screens
  @media screen and (min-width: 800px) {
    > [bx-width-med="12"] { width: calc(100%); }
    > [bx-width-med="11"] { width: calc(91.66%); }
    > [bx-width-med="10"] { width: calc(83.33%); }
    > [bx-width-med="9"] { width: calc(75%); }
    > [bx-width-med="8"] { width: calc(66.66%); }
    > [bx-width-med="7"] { width: calc(58.33%); }
    > [bx-width-med="6"] { width: calc(50%); }
    > [bx-width-med="5"] { width: calc(41.66%); }
    > [bx-width-med="4"] { width: calc(33.33%); }
    > [bx-width-med="3"] { width: calc(25%); }
    > [bx-width-med="2"] { width: calc(16.66%); }
    > [bx-width-med="1"] { width: calc(8.33%); }
  }
  // large screens
  @media screen and (min-width: 1100px) {
    > [bx-width-lrg="12"] { width: calc(100%); }
    > [bx-width-lrg="11"] { width: calc(91.66%); }
    > [bx-width-lrg="10"] { width: calc(83.33%); }
    > [bx-width-lrg="9"] { width: calc(75%); }
    > [bx-width-lrg="8"] { width: calc(66.66%); }
    > [bx-width-lrg="7"] { width: calc(58.33%); }
    > [bx-width-lrg="6"] { width: calc(50%); }
    > [bx-width-lrg="5"] { width: calc(41.66%); }
    > [bx-width-lrg="4"] { width: calc(33.33%); }
    > [bx-width-lrg="3"] { width: calc(25%); }
    > [bx-width-lrg="2"] { width: calc(16.66%); }
    > [bx-width-lrg="1"] { width: calc(8.33%); }
  }
  // x large
  @media screen and (min-width: 1500px) {
    > [bx-width-xl="12"] { width: calc(100%); }
    > [bx-width-xl="11"] { width: calc(91.66%); }
    > [bx-width-xl="10"] { width: calc(83.33%); }
    > [bx-width-xl="9"] { width: calc(75%); }
    > [bx-width-xl="8"] { width: calc(66.66%); }
    > [bx-width-xl="7"] { width: calc(58.33%); }
    > [bx-width-xl="6"] { width: calc(50%); }
    > [bx-width-xl="5"] { width: calc(41.66%); }
    > [bx-width-xl="4"] { width: calc(33.33%); }
    > [bx-width-xl="3"] { width: calc(25%); }
    > [bx-width-xl="2"] { width: calc(16.66%); }
    > [bx-width-xl="1"] { width: calc(8.33%); }
  }
}

/*
24 COL WITH GUTTERS
*/
@mixin boxes-with-gutter-24 {
  // tiny screens
  @media screen {
    > [bx-width-tny="24"] { width: bx-cols-24(24); }
    > [bx-width-tny="23"] { width: bx-cols-24(23); }
    > [bx-width-tny="22"] { width: bx-cols-24(22); }
    > [bx-width-tny="21"] { width: bx-cols-24(21); }
    > [bx-width-tny="20"] { width: bx-cols-24(20); }
    > [bx-width-tny="19"] { width: bx-cols-24(19); }
    > [bx-width-tny="18"] { width: bx-cols-24(18); }
    > [bx-width-tny="17"] { width: bx-cols-24(17); }
    > [bx-width-tny="16"] { width: bx-cols-24(16); }
    > [bx-width-tny="15"] { width: bx-cols-24(15); }
    > [bx-width-tny="14"] { width: bx-cols-24(14); }
    > [bx-width-tny="13"] { width: bx-cols-24(13); }
    > [bx-width-tny="12"] { width: bx-cols-24(12); }
    > [bx-width-tny="11"] { width: bx-cols-24(11); }
    > [bx-width-tny="10"] { width: bx-cols-24(10); }
    > [bx-width-tny="9"] { width: bx-cols-24(9); }
    > [bx-width-tny="8"] { width: bx-cols-24(8); }
    > [bx-width-tny="7"] { width: bx-cols-24(7); }
    > [bx-width-tny="6"] { width: bx-cols-24(6); }
    > [bx-width-tny="5"] { width: bx-cols-24(5); }
    > [bx-width-tny="4"] { width: bx-cols-24(4); }
    > [bx-width-tny="3"] { width: bx-cols-24(3); }
    > [bx-width-tny="2"] { width: bx-cols-24(2); }
    > [bx-width-tny="1"] { width: bx-cols-24(1); }
  }
  // small screens
  @media screen and (min-width: 500px) {
    > [bx-width-sml="24"] { width: bx-cols-24(24); }
    > [bx-width-sml="23"] { width: bx-cols-24(23); }
    > [bx-width-sml="22"] { width: bx-cols-24(22); }
    > [bx-width-sml="21"] { width: bx-cols-24(21); }
    > [bx-width-sml="20"] { width: bx-cols-24(20); }
    > [bx-width-sml="19"] { width: bx-cols-24(19); }
    > [bx-width-sml="18"] { width: bx-cols-24(18); }
    > [bx-width-sml="17"] { width: bx-cols-24(17); }
    > [bx-width-sml="16"] { width: bx-cols-24(16); }
    > [bx-width-sml="15"] { width: bx-cols-24(15); }
    > [bx-width-sml="14"] { width: bx-cols-24(14); }
    > [bx-width-sml="13"] { width: bx-cols-24(13); }
    > [bx-width-sml="12"] { width: bx-cols-24(12); }
    > [bx-width-sml="11"] { width: bx-cols-24(11); }
    > [bx-width-sml="10"] { width: bx-cols-24(10); }
    > [bx-width-sml="9"] { width: bx-cols-24(9); }
    > [bx-width-sml="8"] { width: bx-cols-24(8); }
    > [bx-width-sml="7"] { width: bx-cols-24(7); }
    > [bx-width-sml="6"] { width: bx-cols-24(6); }
    > [bx-width-sml="5"] { width: bx-cols-24(5); }
    > [bx-width-sml="4"] { width: bx-cols-24(4); }
    > [bx-width-sml="3"] { width: bx-cols-24(3); }
    > [bx-width-sml="2"] { width: bx-cols-24(2); }
    > [bx-width-sml="1"] { width: bx-cols-24(1); }
  }
  // medium screens
  @media screen and (min-width: 800px) {
    > [bx-width-med="24"] { width: bx-cols-24(24); }
    > [bx-width-med="23"] { width: bx-cols-24(23); }
    > [bx-width-med="22"] { width: bx-cols-24(22); }
    > [bx-width-med="21"] { width: bx-cols-24(21); }
    > [bx-width-med="20"] { width: bx-cols-24(20); }
    > [bx-width-med="19"] { width: bx-cols-24(19); }
    > [bx-width-med="18"] { width: bx-cols-24(18); }
    > [bx-width-med="17"] { width: bx-cols-24(17); }
    > [bx-width-med="16"] { width: bx-cols-24(16); }
    > [bx-width-med="15"] { width: bx-cols-24(15); }
    > [bx-width-med="14"] { width: bx-cols-24(14); }
    > [bx-width-med="13"] { width: bx-cols-24(13); }
    > [bx-width-med="12"] { width: bx-cols-24(12); }
    > [bx-width-med="11"] { width: bx-cols-24(11); }
    > [bx-width-med="10"] { width: bx-cols-24(10); }
    > [bx-width-med="9"] { width: bx-cols-24(9); }
    > [bx-width-med="8"] { width: bx-cols-24(8); }
    > [bx-width-med="7"] { width: bx-cols-24(7); }
    > [bx-width-med="6"] { width: bx-cols-24(6); }
    > [bx-width-med="5"] { width: bx-cols-24(5); }
    > [bx-width-med="4"] { width: bx-cols-24(4); }
    > [bx-width-med="3"] { width: bx-cols-24(3); }
    > [bx-width-med="2"] { width: bx-cols-24(2); }
    > [bx-width-med="1"] { width: bx-cols-24(1); }
  }
  // large screens
  @media screen and (min-width: 1100px) {
    > [bx-width-lrg="24"] { width: bx-cols-24(24); }
    > [bx-width-lrg="23"] { width: bx-cols-24(23); }
    > [bx-width-lrg="22"] { width: bx-cols-24(22); }
    > [bx-width-lrg="21"] { width: bx-cols-24(21); }
    > [bx-width-lrg="20"] { width: bx-cols-24(20); }
    > [bx-width-lrg="19"] { width: bx-cols-24(19); }
    > [bx-width-lrg="18"] { width: bx-cols-24(18); }
    > [bx-width-lrg="17"] { width: bx-cols-24(17); }
    > [bx-width-lrg="16"] { width: bx-cols-24(16); }
    > [bx-width-lrg="15"] { width: bx-cols-24(15); }
    > [bx-width-lrg="14"] { width: bx-cols-24(14); }
    > [bx-width-lrg="13"] { width: bx-cols-24(13); }
    > [bx-width-lrg="12"] { width: bx-cols-24(12); }
    > [bx-width-lrg="11"] { width: bx-cols-24(11); }
    > [bx-width-lrg="10"] { width: bx-cols-24(10); }
    > [bx-width-lrg="9"] { width: bx-cols-24(9); }
    > [bx-width-lrg="8"] { width: bx-cols-24(8); }
    > [bx-width-lrg="7"] { width: bx-cols-24(7); }
    > [bx-width-lrg="6"] { width: bx-cols-24(6); }
    > [bx-width-lrg="5"] { width: bx-cols-24(5); }
    > [bx-width-lrg="4"] { width: bx-cols-24(4); }
    > [bx-width-lrg="3"] { width: bx-cols-24(3); }
    > [bx-width-lrg="2"] { width: bx-cols-24(2); }
    > [bx-width-lrg="1"] { width: bx-cols-24(1); }
  }
  // x large
  @media screen and (min-width: 1500px) {
    > [bx-width-xl="24"] { width: bx-cols-24(24); }
    > [bx-width-xl="23"] { width: bx-cols-24(23); }
    > [bx-width-xl="22"] { width: bx-cols-24(22); }
    > [bx-width-xl="21"] { width: bx-cols-24(21); }
    > [bx-width-xl="20"] { width: bx-cols-24(20); }
    > [bx-width-xl="19"] { width: bx-cols-24(19); }
    > [bx-width-xl="18"] { width: bx-cols-24(18); }
    > [bx-width-xl="17"] { width: bx-cols-24(17); }
    > [bx-width-xl="16"] { width: bx-cols-24(16); }
    > [bx-width-xl="15"] { width: bx-cols-24(15); }
    > [bx-width-xl="14"] { width: bx-cols-24(14); }
    > [bx-width-xl="13"] { width: bx-cols-24(13); }
    > [bx-width-xl="12"] { width: bx-cols-24(12); }
    > [bx-width-xl="11"] { width: bx-cols-24(11); }
    > [bx-width-xl="10"] { width: bx-cols-24(10); }
    > [bx-width-xl="9"] { width: bx-cols-24(9); }
    > [bx-width-xl="8"] { width: bx-cols-24(8); }
    > [bx-width-xl="7"] { width: bx-cols-24(7); }
    > [bx-width-xl="6"] { width: bx-cols-24(6); }
    > [bx-width-xl="5"] { width: bx-cols-24(5); }
    > [bx-width-xl="4"] { width: bx-cols-24(4); }
    > [bx-width-xl="3"] { width: bx-cols-24(3); }
    > [bx-width-xl="2"] { width: bx-cols-24(2); }
    > [bx-width-xl="1"] { width: bx-cols-24(1); }
  }
}

/*
24 COL WITHOUT GUTTERS
*/
@mixin boxes-without-gutter-24 {
  // tiny screens
  @media screen {
    > [bx-width-tny="24"] { width: bx-cols-24-tight(24); }
    > [bx-width-tny="23"] { width: bx-cols-24-tight(23); }
    > [bx-width-tny="22"] { width: bx-cols-24-tight(22); }
    > [bx-width-tny="21"] { width: bx-cols-24-tight(21); }
    > [bx-width-tny="20"] { width: bx-cols-24-tight(20); }
    > [bx-width-tny="19"] { width: bx-cols-24-tight(19); }
    > [bx-width-tny="18"] { width: bx-cols-24-tight(18); }
    > [bx-width-tny="17"] { width: bx-cols-24-tight(17); }
    > [bx-width-tny="16"] { width: bx-cols-24-tight(16); }
    > [bx-width-tny="15"] { width: bx-cols-24-tight(15); }
    > [bx-width-tny="14"] { width: bx-cols-24-tight(14); }
    > [bx-width-tny="13"] { width: bx-cols-24-tight(13); }
    > [bx-width-tny="12"] { width: bx-cols-24-tight(12); }
    > [bx-width-tny="11"] { width: bx-cols-24-tight(11); }
    > [bx-width-tny="10"] { width: bx-cols-24-tight(10); }
    > [bx-width-tny="9"] { width: bx-cols-24-tight(9); }
    > [bx-width-tny="8"] { width: bx-cols-24-tight(8); }
    > [bx-width-tny="7"] { width: bx-cols-24-tight(7); }
    > [bx-width-tny="6"] { width: bx-cols-24-tight(6); }
    > [bx-width-tny="5"] { width: bx-cols-24-tight(5); }
    > [bx-width-tny="4"] { width: bx-cols-24-tight(4); }
    > [bx-width-tny="3"] { width: bx-cols-24-tight(3); }
    > [bx-width-tny="2"] { width: bx-cols-24-tight(2); }
    > [bx-width-tny="1"] { width: bx-cols-24-tight(1); }
  }
  // small screens
  @media screen and (min-width: 500px) {
    > [bx-width-sml="24"] { width: bx-cols-24-tight(24); }
    > [bx-width-sml="23"] { width: bx-cols-24-tight(23); }
    > [bx-width-sml="22"] { width: bx-cols-24-tight(22); }
    > [bx-width-sml="21"] { width: bx-cols-24-tight(21); }
    > [bx-width-sml="20"] { width: bx-cols-24-tight(20); }
    > [bx-width-sml="19"] { width: bx-cols-24-tight(19); }
    > [bx-width-sml="18"] { width: bx-cols-24-tight(18); }
    > [bx-width-sml="17"] { width: bx-cols-24-tight(17); }
    > [bx-width-sml="16"] { width: bx-cols-24-tight(16); }
    > [bx-width-sml="15"] { width: bx-cols-24-tight(15); }
    > [bx-width-sml="14"] { width: bx-cols-24-tight(14); }
    > [bx-width-sml="13"] { width: bx-cols-24-tight(13); }
    > [bx-width-sml="12"] { width: bx-cols-24-tight(12); }
    > [bx-width-sml="11"] { width: bx-cols-24-tight(11); }
    > [bx-width-sml="10"] { width: bx-cols-24-tight(10); }
    > [bx-width-sml="9"] { width: bx-cols-24-tight(9); }
    > [bx-width-sml="8"] { width: bx-cols-24-tight(8); }
    > [bx-width-sml="7"] { width: bx-cols-24-tight(7); }
    > [bx-width-sml="6"] { width: bx-cols-24-tight(6); }
    > [bx-width-sml="5"] { width: bx-cols-24-tight(5); }
    > [bx-width-sml="4"] { width: bx-cols-24-tight(4); }
    > [bx-width-sml="3"] { width: bx-cols-24-tight(3); }
    > [bx-width-sml="2"] { width: bx-cols-24-tight(2); }
    > [bx-width-sml="1"] { width: bx-cols-24-tight(1); }
  }
  // medium screens
  @media screen and (min-width: 800px) {
    > [bx-width-med="24"] { width: bx-cols-24-tight(24); }
    > [bx-width-med="23"] { width: bx-cols-24-tight(23); }
    > [bx-width-med="22"] { width: bx-cols-24-tight(22); }
    > [bx-width-med="21"] { width: bx-cols-24-tight(21); }
    > [bx-width-med="20"] { width: bx-cols-24-tight(20); }
    > [bx-width-med="19"] { width: bx-cols-24-tight(19); }
    > [bx-width-med="18"] { width: bx-cols-24-tight(18); }
    > [bx-width-med="17"] { width: bx-cols-24-tight(17); }
    > [bx-width-med="16"] { width: bx-cols-24-tight(16); }
    > [bx-width-med="15"] { width: bx-cols-24-tight(15); }
    > [bx-width-med="14"] { width: bx-cols-24-tight(14); }
    > [bx-width-med="13"] { width: bx-cols-24-tight(13); }
    > [bx-width-med="12"] { width: bx-cols-24-tight(12); }
    > [bx-width-med="11"] { width: bx-cols-24-tight(11); }
    > [bx-width-med="10"] { width: bx-cols-24-tight(10); }
    > [bx-width-med="9"] { width: bx-cols-24-tight(9); }
    > [bx-width-med="8"] { width: bx-cols-24-tight(8); }
    > [bx-width-med="7"] { width: bx-cols-24-tight(7); }
    > [bx-width-med="6"] { width: bx-cols-24-tight(6); }
    > [bx-width-med="5"] { width: bx-cols-24-tight(5); }
    > [bx-width-med="4"] { width: bx-cols-24-tight(4); }
    > [bx-width-med="3"] { width: bx-cols-24-tight(3); }
    > [bx-width-med="2"] { width: bx-cols-24-tight(2); }
    > [bx-width-med="1"] { width: bx-cols-24-tight(1); }
  }
  // large screens
  @media screen and (min-width: 1100px) {
    > [bx-width-lrg="24"] { width: bx-cols-24-tight(24); }
    > [bx-width-lrg="23"] { width: bx-cols-24-tight(23); }
    > [bx-width-lrg="22"] { width: bx-cols-24-tight(22); }
    > [bx-width-lrg="21"] { width: bx-cols-24-tight(21); }
    > [bx-width-lrg="20"] { width: bx-cols-24-tight(20); }
    > [bx-width-lrg="19"] { width: bx-cols-24-tight(19); }
    > [bx-width-lrg="18"] { width: bx-cols-24-tight(18); }
    > [bx-width-lrg="17"] { width: bx-cols-24-tight(17); }
    > [bx-width-lrg="16"] { width: bx-cols-24-tight(16); }
    > [bx-width-lrg="15"] { width: bx-cols-24-tight(15); }
    > [bx-width-lrg="14"] { width: bx-cols-24-tight(14); }
    > [bx-width-lrg="13"] { width: bx-cols-24-tight(13); }
    > [bx-width-lrg="12"] { width: bx-cols-24-tight(12); }
    > [bx-width-lrg="11"] { width: bx-cols-24-tight(11); }
    > [bx-width-lrg="10"] { width: bx-cols-24-tight(10); }
    > [bx-width-lrg="9"] { width: bx-cols-24-tight(9); }
    > [bx-width-lrg="8"] { width: bx-cols-24-tight(8); }
    > [bx-width-lrg="7"] { width: bx-cols-24-tight(7); }
    > [bx-width-lrg="6"] { width: bx-cols-24-tight(6); }
    > [bx-width-lrg="5"] { width: bx-cols-24-tight(5); }
    > [bx-width-lrg="4"] { width: bx-cols-24-tight(4); }
    > [bx-width-lrg="3"] { width: bx-cols-24-tight(3); }
    > [bx-width-lrg="2"] { width: bx-cols-24-tight(2); }
    > [bx-width-lrg="1"] { width: bx-cols-24-tight(1); }
  }
  // x large
  @media screen and (min-width: 1500px) {
    > [bx-width-xl="24"] { width: bx-cols-24-tight(24); }
    > [bx-width-xl="23"] { width: bx-cols-24-tight(23); }
    > [bx-width-xl="22"] { width: bx-cols-24-tight(22); }
    > [bx-width-xl="21"] { width: bx-cols-24-tight(21); }
    > [bx-width-xl="20"] { width: bx-cols-24-tight(20); }
    > [bx-width-xl="19"] { width: bx-cols-24-tight(19); }
    > [bx-width-xl="18"] { width: bx-cols-24-tight(18); }
    > [bx-width-xl="17"] { width: bx-cols-24-tight(17); }
    > [bx-width-xl="16"] { width: bx-cols-24-tight(16); }
    > [bx-width-xl="15"] { width: bx-cols-24-tight(15); }
    > [bx-width-xl="14"] { width: bx-cols-24-tight(14); }
    > [bx-width-xl="13"] { width: bx-cols-24-tight(13); }
    > [bx-width-xl="12"] { width: bx-cols-24-tight(12); }
    > [bx-width-xl="11"] { width: bx-cols-24-tight(11); }
    > [bx-width-xl="10"] { width: bx-cols-24-tight(10); }
    > [bx-width-xl="9"] { width: bx-cols-24-tight(9); }
    > [bx-width-xl="8"] { width: bx-cols-24-tight(8); }
    > [bx-width-xl="7"] { width: bx-cols-24-tight(7); }
    > [bx-width-xl="6"] { width: bx-cols-24-tight(6); }
    > [bx-width-xl="5"] { width: bx-cols-24-tight(5); }
    > [bx-width-xl="4"] { width: bx-cols-24-tight(4); }
    > [bx-width-xl="3"] { width: bx-cols-24-tight(3); }
    > [bx-width-xl="2"] { width: bx-cols-24-tight(2); }
    > [bx-width-xl="1"] { width: bx-cols-24-tight(1); }
  }
}
