$height: calc(22px + 0.8vh + 0.8vw);
$height-small: calc(16px + 0.8vh + 0.8vw);
$height-big: calc(30px + 1.2vh + 1.2vw);

$padding: calc(8px + 0.5vh + 0.5vw);
$padding-small: calc(3px + 0.4vh + 0.4vw);
$padding-big: calc(10px + 0.8vh + 0.8vw);


button,
.button {
  -webkit-appearance: none;
  display: inline-block;
  outline: none;
  box-shadow: none;

  margin: 0px 0.15vw 3px 0.15vw;
  padding-left: $padding;
  padding-right: $padding;
  line-height: $height;
  height: $height;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.1s ease, background 0.15s ease, border 0.15s ease, color 0.1s ease;
  border-radius: 4px;

  // BASE BUTTON COLORS
  background: $white;
  border: 1px solid darken($white,5);
  border-bottom: 2px solid darken($white,15);
  color: lighten($black,20);

  .inverted & {
    background: $black;
    border: 1px solid lighten($black,5);
    border-bottom: 2px solid lighten($black,10);
    color: $white;
  }

  // off (but not disabled, purely stylistic)
  &.off {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }

  // HOVER BUTTON COLORS
  &:hover {
    background: darken($white,2);
    border: 1px solid darken($white,15);
    border-bottom: 2px solid darken($white,20);
    color: $black;
  }

  // active state
  &.active,
  &:focus,
  &[active="true"] {
    // @extend .purple;
  }

  // DISABLED STATE
  &:disabled {
  	opacity: 0.3;
  	background-color: inherit !important;
  	color: inherit !important;
  	cursor: default !important;
  }

  // SMALL BUTTON
  &.small {
    font-size: 13px;
    line-height: $height-small;
    height: $height-small;
    padding-left: $padding-small;
    padding-right: $padding-small;
  }

  // BIG BUTTON
  &.big {
    font-size: $h5-size;
    line-height: $height-big;
    height: $height-big;
    padding-left: $padding-big;
    padding-right: $padding-big;
  }

  // PRIMARY BUTTON
  &.primary {
    background: lighten($black,5);
    border: 1px solid lighten($black,10);
    border-bottom: 2px solid lighten($black,20);
    color: darken($white,10);
    &:hover,
    &[active="true"] {
      background: lighten($black,15);
      border: 1px solid lighten($black,20);
      border-bottom: 2px solid lighten($black,25);
      color: $white;
    }
  }

  // GREEN BUTTON
  &.green {
    background: $green;
    border: 1px solid darken($green,10);
    border-bottom: 2px solid darken($green,30);
    color: darken($green,40);
    &:hover,
    &[active="true"] {
      background: darken($green,30);
      border: 1px solid darken($green,30);
      border-bottom: 2px solid darken($green,40);
      color: $white;
    }
  }

  // RED BUTTON
  &.red {
    background: $red;
    border: 1px solid darken($red,10);
    border-bottom: 2px solid darken($red,20);
    color: darken($red,40);
    &:hover,
    &[active="true"] {
      background: darken($red,20);
      border: 1px solid darken($red,20);
      border-bottom: 2px solid darken($red,30);
      color: $white;
    }
  }

  // ORANGE BUTTON
  &.orange {
    background: $orange;
    border: 1px solid darken($orange,10);
    border-bottom: 2px solid darken($orange,20);
    color: darken($orange,40);
    &:hover,
    &[active="true"] {
      background: lighten($orange,20);
      border: 1px solid $orange;
      border-bottom: 2px solid $orange;
      color: darken($orange,40);;
    }
  }

  // YELLOW BUTTON
  &.yellow {
    background: $yellow;
    border: 1px solid darken($yellow,20);
    border-bottom: 2px solid darken($yellow,30);
    color: darken($yellow,40);
    &:hover,
    &[active="true"] {
      background: darken($yellow,10);
      border: 1px solid darken($yellow,10);
      border-bottom: 2px solid darken($yellow,10);
      color: darken($yellow,40);
    }
  }

  // BLUE BUTTON
  &.blue {
    background: $blue;
    border: 1px solid darken($yellow,20);
    border-bottom: 2px solid darken($yellow,30);
    color: $white;
    &:hover,
    &[active="true"] {
      background: lighten($blue,10);
      border: 1px solid darken($blue,10);
      border-bottom: 2px solid dark($blue,10);
      color: $white;
    }
  }

  // PINK BUTTON
  &.pink {
    background: $pink;
    border: 1px solid darken($pink,5);
    border-bottom: 2px solid darken($pink,15);
    color: darken($pink,70);
    &:hover,
    &[active="true"] {
      background: lighten($pink,5);
      border: 1px solid darken($pink,10);
      border-bottom: 2px solid darken($pink,10);
      color: darken($pink,50);
    }
  }

  // PURPLE BUTTON
  &.purple {
    background: $purple;
    border: 1px solid darken($purple,10);
    border-bottom: 2px solid darken($purple,30);
    color: $white;
    &:hover,
    &[active="true"] {
      background: lighten($purple,10);
      border: 1px solid darken($purple,10);
      border-bottom: 2px solid darken($purple,10);
      color: $white;
    }
  }

  // ICONS IN BUTTONS
  span.icon {
    display: inline-block;
    margin: 0 5px;
    line-height: inherit;
  }

}
