$height: calc(22px + 0.8vh + 0.8vw);
$height-small: calc(16px + 0.8vh + 0.8vw);
$height-big: calc(30px + 1.2vh + 1.2vw);

$padding: calc(8px + 0.5vh + 0.5vw);
$padding-small: calc(3px + 0.4vh + 0.4vw);
$padding-big: calc(10px + 0.8vh + 0.8vw);

button,
.button {
  -webkit-appearance: none;
  display: inline-block;
  outline: none;

  margin: 0px 0.15vw 3px 0.15vw;
  padding-left: $padding;
  padding-right: $padding;
  line-height: $height;
  height: $height;

  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;
  transition: box-shadow 0.1s ease, background 0.15s ease, border 0.15s ease, color 0.1s ease;
  border-radius: 4px;

  // BASE BUTTON COLORS
  background: $white;
  border: 1px solid darken($white,5);
  border-bottom: 1px solid darken($white,10);
  color: lighten($black,20);
  box-shadow: 0 3px 3px rgba(0,0,0,.05);


  .inverted & {
    background: $black;
    border: 1px solid lighten($black,5);
    border-bottom-color: lighten($black,10);
    color: $white;
  }

  // off (but not disabled, purely stylistic)
  &.off {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    &:hover {
      box-shadow: inherit;
    }
  }

  // HOVER BUTTON COLORS
  &:hover {
    background: darken($white,2);
    border: 1px solid darken($white,15);
    border-bottom-color: darken($white,20);
    color: $black;
  }

  // active state
  &.active,
  &:focus,
  &[active="true"] {
    // @extend .purple;
  }

  // DISABLED STATE
  &:disabled {
  	opacity: 0.3;
  	background-color: inherit !important;
  	color: inherit !important;
  	cursor: default !important;
  }

  // SMALL BUTTON
  &.small {
    font-size: 13px;
    line-height: $height-small;
    height: $height-small;
    padding-left: $padding-small;
    padding-right: $padding-small;
  }

  // BIG BUTTON
  &.big {
    font-size: $h5-size;
    line-height: $height-big;
    height: $height-big;
    padding-left: $padding-big;
    padding-right: $padding-big;
  }

  // BUTTON COLORS
  @mixin buttonColors($colors, $values){
    @for $i from 1 through length($colors) {

      $bgc: nth($values, $i);
      $bgc-hover: choose-hover-color($bgc);

      &.#{nth($colors, $i)} {
        background: $bgc;
        border-color: darken($bgc, 10);
        border-bottom-color: darken($bgc, 9);
        color: choose-contrast-color($bgc);

        &:hover,
        &[active="true"] {
          background: $bgc-hover;
          border-color: darken($bgc-hover, 9);
          border-bottom-color: darken($bgc-hover, 14);
          color: choose-contrast-color($bgc-hover);
        }

      }
    }
  }
  @include buttonColors($colorKeys, $colorValues);

  // ICONS IN BUTTONS
  span.icon {
    display: inline-block;
    margin: 0 5px;
    line-height: inherit;
  }

}
