$height: calc(15px + 1vh + 1vw);
$button_padding_x: calc(5px + .6vh + .6vw);

$height-small: calc(20px + 0.5vh + 0.5vw);
$pad: calc(2px + 0.4vh + 0.4vw);

button,
.button {
  @extend p;
  -webkit-appearance: none;
  outline: none !important;
  display: inline-block;
  outline: none;
  box-shadow: none;

  @extend .border-radius;
  padding-left: $button_padding_x;
  padding-right: $button_padding_x;
  margin: 0px 0.15vw;
  line-height: $height;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background 0.1s ease;

  background: $white;
  color: $black;
  border: $white-darker-3 1px solid;
  box-shadow: 0px 2px 4px rgba(51, 36, 80, 0.1);

  &.active {
    background: $black;
    box-shadow: -1px 8px 17px rgba(51, 36, 80, 0.1);
  }
  &:hover {
    background: $black;
    color: $white;
  }
  &.circle {
    height: $height;
    width: $height;
    padding: 0px;
  }
  &:disabled {
  	opacity: 0.5;
    text-decoration: line-through;
  	background-color: inherit !important;
    box-shadow: none !important;
  	color: inherit !important;
  	cursor: default !important;
  }

  &.small {
    @extend small;
    line-height: $height-small;
    padding-left: $pad;
    padding-right: $pad;
  }

}
