/*
BACKGROUND OPACITY
 */
@mixin background-opacity($color, $opacity: 0.7) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

/*
BOX COLUMN OUTPUT
*/
@function bx-cols($cols,$dividerby,$tight){
  $number: (100% / $dividerby) * $cols;
  @if $tight == true {
    @return $number;
  } @else {
    @return calc( #{$number} - #{$gutterX} );
  }
}
@mixin bx-cols-output($count,$tight){
  // tny
  @for $i from 1 through $count {
    > [bx-width-tny="#{$i}"] { width: bx-cols($i,$count,$tight); }
  }
  // sml
  @media screen and (min-width: 500px) {
    @for $i from 1 through $count {
      > [bx-width-sml="#{$i}"] { width: bx-cols($i,$count,$tight); }
    }
  }
  // med
  @media screen and (min-width: 800px) {
    @for $i from 1 through $count {
      > [bx-width-med="#{$i}"] { width: bx-cols($i,$count,$tight); }
    }
  }
  // lrg
  @media screen and (min-width: 1100px) {
    @for $i from 1 through $count {
      > [bx-width-lrg="#{$i}"] { width: bx-cols($i,$count,$tight); }
    }
  }
  // xl
  @media screen and (min-width: 1500px) {
    @for $i from 1 through $count {
      > [bx-width-xl="#{$i}"] { width: bx-cols($i,$count,$tight); }
    }
  }
}

/*
BOX PERCENTAGE OUTPUT
*/
@function bx-percent($percent,$tight){
  @if $percent == 33 { $percent: 33.33; } @elseif $percent == 66 { $percent: 66.66; }
  $percent: $percent+%;
  @if $tight == true {
    @return $percent;
  } @else {
    @return calc( #{$percent} - #{$gutterX} );
  }
}
@mixin bx-percent-output($tight) {
  // tny
  @for $i from 1 through 100 {
    > [bx-width-tny="#{$i}"] { width: bx-percent($i,$tight); }
  }
  // sml
  @media screen and (min-width: 500px) {
    @for $i from 1 through 100 {
      > [bx-width-sml="#{$i}"] { width: bx-percent($i,$tight); }
    }
  }
  // med
  @media screen and (min-width: 800px) {
    @for $i from 1 through 100 {
      > [bx-width-med="#{$i}"] { width: bx-percent($i,$tight); }
    }
  }
  // lrg
  @media screen and (min-width: 1100px) {
    @for $i from 1 through 100 {
      > [bx-width-lrg="#{$i}"] { width: bx-percent($i,$tight); }
    }
  }
  // xl
  @media screen and (min-width: 1500px) {
    @for $i from 1 through 100 {
      > [bx-width-xl="#{$i}"] { width: bx-percent($i,$tight); }
    }
  }
}
