.bx-modal {
  @include fixed-fullscreen;
  @include background-opacity($white, 0.9);
  display: none;
  overflow: scroll;

  &.on {
    display: block;
    z-index: 100;
  }

  // the inner modal
  .bx-modal-inner {

  }

}
