[bx-modal] {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow-y: scroll;
  background: $site-background;
  @include container-data-attributes('modal');

  display: none;
  &.on {
    display: block;
    z-index: 100;
  }
}

[bx-modal-bg] {
  @include background-opacity($black);
  @include fixed-fullscreen;

  display: none;
  &.on {
    display: block;
    pointer-events: all;
    z-index: 99;
  }
}
