.bx-modal {
  @include fixed-fullscreen;
  @include background-opacity($black);
  display: none;
  overflow: scroll;

  &.on {
    display: block;
    z-index: 100;
  }

  .bx-modal-inner {
    background-color: $site-background;
  }

}
