*[class*="show-"] {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
@mixin show {
  display: inherit;
  visibility: visible;
  pointer-events: inherit;
}

// viewport classes
@media #{$media-tny-only} {
  .show-tny { @include show; }
}
@media #{$media-sml-only} {
  .show-sml { @include show; }
}
@media #{$media-med-only} {
  .show-med { @include show; }
}
@media #{$media-lrg-only} {
  .show-lrg { @include show; }
}
@media #{$media-xl-only} {
  .show-xl { @include show; }
}

// component classes
.isTall .show-tall,
.isWide .show-wide,
.isSquare .show-square {
  @include show;
}
