a {
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  // little override for links that are buttons
  &.button {
    text-decoration: inherit;
  }
}
hr {
  border-bottom: solid 2px $white-darker-2;
  display: block;
  height: 1px;
  width: 100%;
}

table {
  margin-bottom: $gutterY;
  text-align: left;
  border-collapse:collapse;

  thead {
    border-bottom: solid 2px $white-darker-3;
  }
  tfoot {
    border-top: solid 2px $white-darker-3;
  }
  tr {
    &:not(:last-child) {
      border-bottom: solid 1px $white-darker-2;
    }
    &:last-child {
      td {
        padding-bottom: 0px;
      }
    }
  }
  th {
    padding-bottom: ($paddingY / 2);
  }
  td {
    padding-top: ($paddingY / 2);
    padding-bottom: ($paddingY / 2);
  }
}
