/* LINKS */
a {
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  // little override for links that are buttons
  &.button {
    text-decoration: inherit;
  }
}

/* HORIZONTAL LINE */
hr {
  border-bottom: solid 2px darken($white,20);
  display: block;
  height: 1px;
  width: 100%;
}

/* TABLES */
table {
  text-align: left;
  border-collapse:collapse;
  border-color: darken($white,2);


  thead, tfoot, tr {
    border-color: darken($white,3);
    .inverted & {
      border-color: $inverted-border-color;
    }
  }

  thead {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    th {
      padding-bottom: ($paddingY / 2);
    }
  }
  tfoot {
    border-top-style: solid;
    border-top-width: 1px;
  }
  tr {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    &:last-child {
      border-bottom: none;
    }
  }
  td {
    padding-top: ($paddingY / 2);
    padding-bottom: ($paddingY / 2);
  }



}

/* LISTS */
ol {
  margin-left: $p-size-double;
  margin-bottom: $p-size-double;
  li {
    margin-bottom: 5px;
  }
}

// code
*:not(pre) > code {
  background: $white;
  color: choose-contrast-color($white);
  padding: 2px 7px;
  border-radius: 4px;
  border: solid 1px #f0f0f0;
  font-size: 15px;
  font-weight: 400;
  .inverted & {
    background: lighten($black,5);
    color: choose-contrast-color($black);
    border-color: lighten($black,10);
  }
}
