a {
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  // little override for links that are buttons
  &.button {
    text-decoration: inherit;
  }
}
hr {
  border-bottom: solid 2px $white-darker-2;
  display: block;
  height: 1px;
  width: 100%;
}

table {
  td,
  th {
    border-radius: 2px;
    text-align: left;
    background-color: $white-darker-1;
    padding: calc(#{$paddingY} / 2) calc(#{$paddingX} / 2);
  }
  thead {
    th {
      background-color: $white-darker-3;
    }
  }
  tfoot {
    td {
      background-color: $white;
      border: solid 1px $white-darker-2;
    }
  }
}
