html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: $p-size;
  font-weight: 400;
  line-height: 1.7;
}

/* text */
h1 {
  margin-bottom: $h2-size;
  font-size: $h1-size;
  font-weight: 700;
  line-height: 1.1;
  &.size--x2 {
    font-size: $h1-size-double;
  }
  &.x2-margin {
    margin-bottom: $h1-size-double;
  }
}
h2 {
  margin-bottom: $h3-size;
  font-size: $h2-size;
  font-weight: 600;
  line-height: 1.1;
  &.size--x2 {
    font-size: $h2-size-double;
  }
  &.x2-margin {
    margin-bottom: $h2-size-double;
  }
}
h3 {
  margin-top: $h4-size;
  margin-bottom: $h4-size;
  font-size: $h3-size;
  font-weight: 600;
  line-height: 1.2;
  &.size--x2 {
    font-size: $h3-size-double;
  }
  &.x2-margin {
    margin-bottom: $h3-size-double;
  }
}
h4 {
  margin-top: $h5-size;
  margin-bottom: $h5-size;
  font-size: $h4-size;
  font-weight: 500;
  line-height: 1.3;
  &.size--x2 {
    font-size: $h4-size-double;
  }
  &.x2-margin {
    margin-bottom: $h4-size-double;
  }
}
h5 {
  margin-top: $h6-size;
  margin-bottom: $h6-size;
  font-size: $h5-size;
  font-weight: 500;
  line-height: 1.4;
  &.size--x2 {
    font-size: $h5-size-double;
  }
  &.x2-margin {
    margin-bottom: $h5-size-double;
  }
}
h6 {
  margin-top: $p-size;
  margin-bottom: $p-size;
  font-size: $h6-size;
  font-weight: 600;
  line-height: 1.5;
  &.size--x2 {
    font-size: $h6-size-double;
  }
  &.x2-margin {
    margin-bottom: $h6-size-double;
  }
}
p {
  margin-top: $p-size;
  margin-bottom: $p-size-double;
  font-size: $p-size;
  font-weight: 400;
  &.size--x2 {
    font-size: $p-size-double;
  }
  &.x2-margin {
    margin-bottom: $h4-size-double;
  }
}
small {
  font-size: $s-size;
  font-weight: 500;
  display: inline-block;
  &.x2-margin {
    margin-bottom: $s-size-double;
  }
}

// first and last children margins
// h1, h2, h3, h4, h5, h6, p, small {
//   &:last-child {
//     margin-bottom: 0px;
//   }
// }

.bold {
  font-weight: 700;
}
