// colors
$red: #ff1929;
$orange: orange;
$purple: #771dff;
$blue: #1f21ff;
$green: #65ff97;
$yellow: #ffeb4d;
$black: #17191f;
$white: #ffffff;

// containers
$container-max-width: calc(1000px + 20%);
$container-max-width-thin: 900px;

// margins and padding
$gutterX: 2vh;
$gutterY: 2vh;
$paddingX: 2vh;
$paddingY: 2vh;
$default_cols: 12;

// site colours
$site-background: $white;
$site-primary: $red;
$site-accent: $blue;
$site-text-headers: $black;
$site-text-body: lighten($black,20);

// link styling
$link-color: $black ;
$link-decoration: underline ;
$link-hover-color: $blue ;
$link-hover-decoration: underline ;

// base border stylings
$border-weight: 2px ;

// responsive only's
$media-tny-only: "only screen and (max-width: 599px)";
$media-sml-only: "only screen and (min-width: 600px) and (max-width: 879px)";
$media-med-only: "only screen and (min-width: 880px) and (max-width: 1099px)";
$media-lrg-only: "only screen and (min-width: 1100px) and (max-width: 1499px)";
$media-xl-only: "only screen and (min-width: 1500px)";

// responsive up's
$media-sml-up: "only screen and (min-width: 600px)";
$media-med-up: "only screen and (min-width: 880px)";
$media-lrg-up: "only screen and (min-width: 1100px)";
$media-xl-up: "only screen and (min-width: 1500px)";

// font sizes
$h1-size: calc(28px + .8vh + .8vw) ;
$h1-size-double: calc(56px + 1.6vh + 1.6vw) ;
$h2-size: calc(20px + .6vh + .6vw) ;
$h2-size-double: calc(40px + 1.2vh + 1.2vw) ;
$h3-size: calc(16px + .6vh + .6vw) ;
$h3-size-double: calc(32px + 1.2vh + 1.2vw) ;
$h4-size: calc(14px + .5vh + .5vw) ;
$h4-size-double: calc(28px + 1vh + 1vw) ;
$h5-size: calc(12px + .4vh + .4vw) ;
$h5-size-double: calc(24px + .8vh + .8vw) ;
$h6-size: calc(11px + .1vh + .1vw) ;
$h6-size-double: calc(22px + .2vh + .2vw) ;
$p-size: calc(12px + .15vh + .15vw) ;
$p-size-double: calc(24px + .3vh + .3vw) ;
$s-size: calc(10px + .1vh + .1vw) ;
$s-size-double: calc(20px + .2vh + .2vw) ;

// color arrays (DO NOT TOUCH!)
$colorKeys: white, black, red, orange, yellow, green, blue, purple;
$colorValues: $white, $black, $red, $orange, $yellow, $green, $blue, $purple;
