// colors
$red: #F5142B;
$orange: #F3AD00;
$yellow: #F4E829;
$pink: #FD9D98;
$purple: #6623EF; // #771dff;
$blue: #3C2EF9;
$aqua: #3FE3FE;
$green: #90F68C;
$black: #17191f;
$white: #ffffff;
$grey: #BCC7D7;

// COLOR ARRAY (color util generation)
// - Add or remove colors as needed. Both a name and value are required.
// - Keep in mind, every color added will increase the final .css filesize considerably.
// - So keep the number of colours in your pallette to a miniumum
// - (this is complete overkill btw)
$colorKeys: white, black, grey, red, orange, yellow, pink, green, blue, aqua, purple;
$colorValues: $white, $black, $grey, $red, $orange, $yellow, $pink, $green, $blue, $aqua, $purple;

// containers
$container-width: 90vw;
$container-max-width: calc(1200px + 10vw);
$container-max-width-thin: 900px;

// margins and padding
$gutterX: 30px;
$gutterY: 30px;
$paddingX: 20px;
$paddingY: 20px;
$default_cols: 12;

// site colours
$site-background: $white;
$site-primary: $red;
$site-accent: $blue;
$site-text-headers: $black;
$site-text-body: lighten($black,25);

// link styling
$link-color: $black ;
$link-decoration: underline ;
$link-hover-color: $blue ;
$link-hover-decoration: underline ;

// default border stylings
$border-weight: 1px ;
$border-color: darken($white,10) ;

// inverted colors
$inverted-border-color: lighten($black,5);

// responsive only's
$media-tny-only: "only screen and (max-width: 599px)";
$media-sml-only: "only screen and (min-width: 600px) and (max-width: 879px)";
$media-med-only: "only screen and (min-width: 880px) and (max-width: 1099px)";
$media-lrg-only: "only screen and (min-width: 1100px) and (max-width: 1499px)";
$media-xl-only: "only screen and (min-width: 1500px)";

// responsive up's
$media-sml-up: "only screen and (min-width: 600px)";
$media-med-up: "only screen and (min-width: 880px)";
$media-lrg-up: "only screen and (min-width: 1100px)";
$media-xl-up: "only screen and (min-width: 1500px)";

// font sizes
// note: consider implementing variable-exists() for this stuff so people don't have to fill all these out
$h1-size: calc(28px + .8vh + .8vw) ;
$h1-size-double: calc(56px + 1.6vh + 1.6vw) ;
$h2-size: calc(20px + .6vh + .6vw) ;
$h2-size-double: calc(40px + 1.2vh + 1.2vw) ;
$h3-size: calc(16px + .6vh + .6vw) ;
$h3-size-double: calc(32px + 1.2vh + 1.2vw) ;
$h4-size: calc(14px + .5vh + .5vw) ;
$h4-size-double: calc(28px + 1vh + 1vw) ;
$h5-size: calc(12px + .4vh + .4vw) ;
$h5-size-double: calc(24px + .8vh + .8vw) ;
$h6-size: calc(13px + .2vh + .2vw) ;
$h6-size-double: calc(24px + .4vh + .4vw) ;
$p-size: calc(13px + .15vh + .15vw) ;
$p-size-double: calc(25px + .3vh + .3vw) ;
$s-size: calc(10px + .1vh + .1vw) ;
$s-size-double: calc(20px + .2vh + .2vw) ;
