// colors
$red: #ff2628;
$orange: #F3AD00;
$yellow: #F4E829;
$pink: #FD9D98;
$purple: #4b11c3;
$blue: #2542E6;
$aqua: #3FE3FE;
$green: #90F68C;
$black: #17191f;
$white: #ffffff;
$grey: #BCC7D7;

// COLOR ARRAY (color util generation)
// - Add or remove colors as needed.
// - Both a key (name) and value are required.
// - Every color added will increase the final .css filesize considerably.
// - So keep the number of colours in your pallette to a miniumum
$colorKeys: white, black, grey, red, orange, yellow, pink, green, blue, aqua, purple;
$colorValues: $white, $black, $grey, $red, $orange, $yellow, $pink, $green, $blue, $aqua, $purple;

// base text colours
$site-text-headers: $black;
$site-text-body: lighten($black,25);

// container widths
$container-width: 90vw;
$container-max-width: calc(1200px + 10vw);
$container-max-width--thin: 900px;

// margins and padding
$gutterX: 30px;
$gutterY: 30px;
$paddingX: 20px;
$paddingY: 20px;
$default_cols: 12;

// link styling
$link-color: $black ;
$link-decoration: underline ;
$link-hover-color: $blue ;
$link-hover-decoration: underline ;

// border styling
$border-weight: 1px ;
$border-color: darken($white,10) ;

// inverted colors
$inverted-border-color: lighten($black,5);

// responsive breakpoints
$sml-breakpoint: 600px; // tny being 599 and under
$med-breakpoint: 880px;
$lrg-breakpoint: 1100px;
$xl-breakpoint: 1500px;

// font sizes
// note: consider implementing variable-exists() for this stuff so people don't have to fill all these out
$h1-size: calc(28px + .8vh + .8vw) ;
$h1-size-double: calc(56px + 1.6vh + 1.6vw) ;
$h2-size: calc(20px + .6vh + .6vw) ;
$h2-size-double: calc(40px + 1.2vh + 1.2vw) ;
$h3-size: calc(16px + .6vh + .6vw) ;
$h3-size-double: calc(32px + 1.2vh + 1.2vw) ;
$h4-size: calc(14px + .5vh + .5vw) ;
$h4-size-double: calc(28px + 1vh + 1vw) ;
$h5-size: calc(12px + .4vh + .4vw) ;
$h5-size-double: calc(24px + .8vh + .8vw) ;
$h6-size: calc(13px + .2vh + .2vw) ;
$h6-size-double: calc(24px + .4vh + .4vw) ;
$p-size: calc(13px + .15vh + .15vw) ;
$p-size-double: calc(25px + .3vh + .3vw) ;
$s-size: calc(10px + .1vh + .1vw) ;
$s-size-double: calc(20px + .2vh + .2vw) ;
