// cool functional stuff!
@import "_variables";
@import "_colors";
@import "_mixins";
@import "_extends";
@import "_utils";
@import "_reset";

// import base level styles!
@import "_data";
@import "_text";
@import "_forms";
@import "_buttons";
@import "_boxes";
@import "_modal";



// move this into a "_tags" file
hr {
  border-bottom: solid 1px $black;
  display: block;
  height: 1px;
  width: 100%;
  background: red;
}

// main bx elements that have data-attributes
.bx-container {
  @include general-data-attributes('container');
}
.bx-boxes {
  @include general-data-attributes('boxes');
}
.bx-modal {
  @include general-data-attributes('modal');
}


// box windows wtf is this?
.bx-window {
  position: relative;
  background: #f9f9f9;
  margin-bottom: $paddingY;
  overflow: hidden;

  // default background settings
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  // different background fills
  &.bg-repeat {
    background-repeat: repeat;
  }
  &.bg-x-left {
    background-position-x: left;
  }
  &.bg-x-right {
    background-position-x: right;
  }
  &.bg-y-top {
    background-position-y: top;
  }
  &.bg-y-bottom {
    background-position-y: bottom;
  }

  // aspect ratio
  &.wide {
    height: calc(2vw + 27vh);
  }
  &.tall {
    height: calc(5vw + 45vh);
    max-height: 50vh;
  }
  &.slit {
    height: calc(2vw + 2vh);
    max-height: 4vh;
  }

  // fullwidth windows
  &.full-x {
    margin-left: -$paddingX;
    margin-right: -$paddingX;
  }
  &.full-y {
    margin-top: -$paddingY;
    .deboss & {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }

}
