.bx-max-width, [bx-boxes][bx-x-axis="center"], [bx-modal][bx-x-axis="center"] {
  max-width: 900px; }

.bx-full-width, [bx-boxes][bx-x-axis="full"], [bx-modal][bx-x-axis="full"] {
  width: 100%; }

.bx-full-width-gutter-x, .gutter-x[bx-boxes][bx-x-axis="full"], .gutter[bx-boxes][bx-x-axis="full"], .gutter-x[bx-modal][bx-x-axis="full"], .gutter[bx-modal][bx-x-axis="full"] {
  width: calc( 100% - 3vh); }

.bx-full-height, [bx-boxes][bx-y-axis="full"], [bx-modal][bx-y-axis="full"] {
  height: 100vh;
  max-height: 100vh; }

.bx-transform-center-x, [bx-modal][bx-x-axis="center"] {
  left: 50%;
  transform: translateX(-50%); }

.bx-transform-center-y, [bx-modal][bx-y-axis="center"] {
  top: 50%;
  transform: translateY(-50%); }

.bx-transform-center-xy, [bx-modal][bx-x-axis="center"][bx-y-axis="center"] {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

/*
12 COL WITH GUTTERS
*/
/*
12 COL WITHOUT GUTTERS
*/
/*
24 COL WITH GUTTERS
*/
/*
24 COL WITHOUT GUTTERS
*/
.padding-x {
  padding-left: 3vh;
  padding-right: 3vh; }

.padding-y {
  padding-top: 3vh;
  padding-bottom: 3vh; }

.padding {
  padding: 3vh 3vh; }

.gutter-x {
  margin-left: calc( 3vh / 2);
  margin-right: calc( 3vh / 2); }

.gutter-y {
  margin-top: 3vh;
  margin-bottom: 3vh; }

.gutter {
  margin: 3vh calc( 3vh / 2); }

.border-radius {
  border-radius: 4px; }

.border-radius-full {
  border-radius: 9999px !important; }

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 10; }

.deboss {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  border: solid 1px #f2f2f2;
  padding: 3vh 3vh;
  background: #ffffff; }

.tight {
  margin: 0px !important; }

.bg-red {
  background: #ff1929; }

.bg-yellow {
  background: #ffeb4d; }

.bg-blue {
  background: #1f21ff; }

.bg-purple {
  background: #771dff; }

.bg-green {
  background: #65ff97; }

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: calc(12px + .15vh + .15vw);
  font-weight: 400;
  line-height: 1.7; }

/* text */
h1 {
  margin-bottom: calc(24px + .8vh + .8vw);
  font-size: calc(24px + .8vh + .8vw);
  font-weight: 700;
  line-height: 1.2; }
  h1.x2-margin-bottom {
    margin-bottom: calc(42px + 1.6vh + 1.6vw); }

h2 {
  margin-bottom: calc(20px + .6vh + .6vw);
  font-size: calc(20px + .6vh + .6vw);
  font-weight: 600;
  line-height: 1.2; }
  h2.x2-margin-bottom {
    margin-bottom: calc(40px + 1.2vh + 1.2vw); }

h3 {
  margin-bottom: calc(16px + .6vh + .6vw);
  font-size: calc(16px + .6vh + .6vw);
  font-weight: 600;
  line-height: 1.2; }
  h3.x2-margin-bottom {
    margin-bottom: calc(32px + 1.2vh + 1.2vw); }

h4 {
  margin-bottom: calc(14px + .5vh + .5vw);
  font-size: calc(14px + .5vh + .5vw);
  font-weight: 500;
  line-height: 1.3; }
  h4.x2-margin-bottom {
    margin-bottom: calc(28px + 1vh + 1vw); }

h5 {
  margin-bottom: calc(12px + .4vh + .4vw);
  font-size: calc(12px + .4vh + .4vw);
  font-weight: 500; }
  h5.x2-margin-bottom {
    margin-bottom: calc(24px + .8vh + .8vw); }

h6 {
  margin-bottom: calc(11px + .1vh + .1vw);
  font-size: calc(11px + .1vh + .1vw);
  font-weight: 600;
  letter-spacing: .2vw;
  text-transform: uppercase; }
  h6.x2-margin-bottom {
    margin-bottom: calc(22px + .2vh + .2vw); }

p, input[type="text"],
textarea, button,
.button {
  margin-bottom: calc(14px + .5vh + .5vw);
  font-size: calc(12px + .15vh + .15vw);
  font-weight: 400; }
  p.x2-margin-bottom, input.x2-margin-bottom[type="text"],
  textarea.x2-margin-bottom, button.x2-margin-bottom,
  .x2-margin-bottom.button {
    margin-bottom: calc(28px + 1vh + 1vw); }

small, button.small,
.button.small {
  margin-bottom: calc(10px + .1vh + .1vw);
  font-size: calc(10px + .1vh + .1vw);
  font-weight: 500;
  line-height: 1.6;
  display: inline-block; }
  small.x2-margin-bottom, button.x2-margin-bottom.small,
  .x2-margin-bottom.button.small {
    margin-bottom: calc(20px + .2vh + .2vw); }

.weight-lighter {
  font-weight: 300; }

.weight-normal {
  font-weight: 400; }

.weight-heavier {
  font-weight: 600; }

.weight-heaviest {
  font-weight: 800; }

.underline, a.inline-link {
  position: relative; }
  .underline:after, a.inline-link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-1px - .1vw);
    height: 2px;
    background-color: #5254ff;
    width: 100%; }

a.inline-link {
  color: #1f21ff;
  display: inline-block;
  text-decoration: none; }
  a.inline-link:hover {
    color: #17191f; }
  a.inline-link.invert {
    color: #17191f; }
    a.inline-link.invert:hover {
      color: #1f21ff; }

/* handle basic inputs */
input[type="text"],
textarea {
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  border-bottom: solid 1px black;
  margin: 0px; }

button,
.button {
  -webkit-appearance: none;
  outline: none !important;
  display: inline-block;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  height: calc(20px + 1.2vh + 1.2vw);
  padding-left: calc(2px + 1.2vh + 1.2vw);
  padding-right: calc(2px + 1.2vh + 1.2vw);
  margin: 0px 0.15vw;
  line-height: calc(20px + 1.2vh + 1.2vw);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background 0.1s ease;
  background: #ffffff;
  color: #17191f;
  border: #e6e6e6 1px solid;
  box-shadow: 0px 2px 4px rgba(51, 36, 80, 0.1); }
  button.active,
  .button.active {
    background: #17191f;
    box-shadow: -1px 8px 17px rgba(51, 36, 80, 0.1); }
  button:hover,
  .button:hover {
    background: #17191f;
    color: #ffffff; }
  button.circle,
  .button.circle {
    height: calc(20px + 1.2vh + 1.2vw);
    width: calc(20px + 1.2vh + 1.2vw);
    padding: 0px; }
  button:disabled,
  .button:disabled {
    opacity: 0.5;
    text-decoration: line-through;
    background-color: inherit !important;
    box-shadow: none !important;
    color: inherit !important;
    cursor: default !important; }
  button.small,
  .button.small {
    height: calc(20px + 0.5vh + 0.5vw);
    line-height: calc(20px + 0.5vh + 0.5vw);
    padding-left: calc(7px + 0.4vh + 0.4vw);
    padding-right: calc(7px + 0.4vh + 0.4vw); }

[bx-boxes] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  [bx-boxes][bx-x-axis="center"] {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  [bx-boxes] [bx-trans].bx--on {
    display: block; }
  [bx-boxes] [bx-trans].bx--entering {
    opacity: 1; }
  [bx-boxes] [bx-trans].bx--exiting {
    opacity: 0; }
  [bx-boxes][bx-box-layout="masonry"] {
    display: block;
    flex-direction: unset;
    flex-wrap: unset; }
  @media screen {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="12"] {
      width: calc(100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="11"] {
      width: calc(91.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="10"] {
      width: calc(83.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="9"] {
      width: calc(75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="8"] {
      width: calc(66.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="7"] {
      width: calc(58.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="6"] {
      width: calc(50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="5"] {
      width: calc(41.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="4"] {
      width: calc(33.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="3"] {
      width: calc(25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="2"] {
      width: calc(16.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-tny="1"] {
      width: calc(8.33% - 3vh); } }
  @media screen and (min-width: 500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="12"] {
      width: calc(100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="11"] {
      width: calc(91.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="10"] {
      width: calc(83.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="9"] {
      width: calc(75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="8"] {
      width: calc(66.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="7"] {
      width: calc(58.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="6"] {
      width: calc(50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="5"] {
      width: calc(41.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="4"] {
      width: calc(33.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="3"] {
      width: calc(25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="2"] {
      width: calc(16.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-sml="1"] {
      width: calc(8.33% - 3vh); } }
  @media screen and (min-width: 800px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="12"] {
      width: calc(100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="11"] {
      width: calc(91.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="10"] {
      width: calc(83.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="9"] {
      width: calc(75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="8"] {
      width: calc(66.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="7"] {
      width: calc(58.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="6"] {
      width: calc(50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="5"] {
      width: calc(41.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="4"] {
      width: calc(33.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="3"] {
      width: calc(25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="2"] {
      width: calc(16.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-med="1"] {
      width: calc(8.33% - 3vh); } }
  @media screen and (min-width: 1100px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="12"] {
      width: calc(100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="11"] {
      width: calc(91.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="10"] {
      width: calc(83.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="9"] {
      width: calc(75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="8"] {
      width: calc(66.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="7"] {
      width: calc(58.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="6"] {
      width: calc(50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="5"] {
      width: calc(41.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="4"] {
      width: calc(33.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="3"] {
      width: calc(25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="2"] {
      width: calc(16.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-lrg="1"] {
      width: calc(8.33% - 3vh); } }
  @media screen and (min-width: 1500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="12"] {
      width: calc(100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="11"] {
      width: calc(91.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="10"] {
      width: calc(83.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="9"] {
      width: calc(75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="8"] {
      width: calc(66.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="7"] {
      width: calc(58.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="6"] {
      width: calc(50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="5"] {
      width: calc(41.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="4"] {
      width: calc(33.33% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="3"] {
      width: calc(25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="2"] {
      width: calc(16.66% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"]:not([bx-boxes-tight]) > [bx-width-xl="1"] {
      width: calc(8.33% - 3vh); } }
  @media screen {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="12"] {
      width: calc(100%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="11"] {
      width: calc(91.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="10"] {
      width: calc(83.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="9"] {
      width: calc(75%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="8"] {
      width: calc(66.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="7"] {
      width: calc(58.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="6"] {
      width: calc(50%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="5"] {
      width: calc(41.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="4"] {
      width: calc(33.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="3"] {
      width: calc(25%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="2"] {
      width: calc(16.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-tny="1"] {
      width: calc(8.33%); } }
  @media screen and (min-width: 500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="12"] {
      width: calc(100%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="11"] {
      width: calc(91.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="10"] {
      width: calc(83.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="9"] {
      width: calc(75%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="8"] {
      width: calc(66.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="7"] {
      width: calc(58.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="6"] {
      width: calc(50%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="5"] {
      width: calc(41.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="4"] {
      width: calc(33.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="3"] {
      width: calc(25%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="2"] {
      width: calc(16.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-sml="1"] {
      width: calc(8.33%); } }
  @media screen and (min-width: 800px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="12"] {
      width: calc(100%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="11"] {
      width: calc(91.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="10"] {
      width: calc(83.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="9"] {
      width: calc(75%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="8"] {
      width: calc(66.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="7"] {
      width: calc(58.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="6"] {
      width: calc(50%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="5"] {
      width: calc(41.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="4"] {
      width: calc(33.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="3"] {
      width: calc(25%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="2"] {
      width: calc(16.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-med="1"] {
      width: calc(8.33%); } }
  @media screen and (min-width: 1100px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="12"] {
      width: calc(100%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="11"] {
      width: calc(91.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="10"] {
      width: calc(83.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="9"] {
      width: calc(75%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="8"] {
      width: calc(66.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="7"] {
      width: calc(58.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="6"] {
      width: calc(50%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="5"] {
      width: calc(41.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="4"] {
      width: calc(33.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="3"] {
      width: calc(25%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="2"] {
      width: calc(16.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-lrg="1"] {
      width: calc(8.33%); } }
  @media screen and (min-width: 1500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="12"] {
      width: calc(100%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="11"] {
      width: calc(91.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="10"] {
      width: calc(83.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="9"] {
      width: calc(75%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="8"] {
      width: calc(66.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="7"] {
      width: calc(58.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="6"] {
      width: calc(50%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="5"] {
      width: calc(41.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="4"] {
      width: calc(33.33%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="3"] {
      width: calc(25%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="2"] {
      width: calc(16.66%); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="12"][bx-boxes-tight] > [bx-width-xl="1"] {
      width: calc(8.33%); } }
  @media screen {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="24"] {
      width: calc( 100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="23"] {
      width: calc( 95.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="22"] {
      width: calc( 91.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="21"] {
      width: calc( 87.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="20"] {
      width: calc( 83.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="19"] {
      width: calc( 79.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="18"] {
      width: calc( 75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="17"] {
      width: calc( 70.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="16"] {
      width: calc( 66.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="15"] {
      width: calc( 62.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="14"] {
      width: calc( 58.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="13"] {
      width: calc( 54.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="12"] {
      width: calc( 50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="11"] {
      width: calc( 45.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="10"] {
      width: calc( 41.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="9"] {
      width: calc( 37.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="8"] {
      width: calc( 33.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="7"] {
      width: calc( 29.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="6"] {
      width: calc( 25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="5"] {
      width: calc( 20.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="4"] {
      width: calc( 16.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="3"] {
      width: calc( 12.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="2"] {
      width: calc( 8.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-tny="1"] {
      width: calc( 4.16667% - 3vh); } }
  @media screen and (min-width: 500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="24"] {
      width: calc( 100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="23"] {
      width: calc( 95.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="22"] {
      width: calc( 91.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="21"] {
      width: calc( 87.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="20"] {
      width: calc( 83.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="19"] {
      width: calc( 79.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="18"] {
      width: calc( 75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="17"] {
      width: calc( 70.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="16"] {
      width: calc( 66.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="15"] {
      width: calc( 62.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="14"] {
      width: calc( 58.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="13"] {
      width: calc( 54.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="12"] {
      width: calc( 50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="11"] {
      width: calc( 45.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="10"] {
      width: calc( 41.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="9"] {
      width: calc( 37.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="8"] {
      width: calc( 33.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="7"] {
      width: calc( 29.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="6"] {
      width: calc( 25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="5"] {
      width: calc( 20.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="4"] {
      width: calc( 16.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="3"] {
      width: calc( 12.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="2"] {
      width: calc( 8.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-sml="1"] {
      width: calc( 4.16667% - 3vh); } }
  @media screen and (min-width: 800px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="24"] {
      width: calc( 100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="23"] {
      width: calc( 95.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="22"] {
      width: calc( 91.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="21"] {
      width: calc( 87.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="20"] {
      width: calc( 83.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="19"] {
      width: calc( 79.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="18"] {
      width: calc( 75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="17"] {
      width: calc( 70.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="16"] {
      width: calc( 66.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="15"] {
      width: calc( 62.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="14"] {
      width: calc( 58.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="13"] {
      width: calc( 54.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="12"] {
      width: calc( 50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="11"] {
      width: calc( 45.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="10"] {
      width: calc( 41.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="9"] {
      width: calc( 37.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="8"] {
      width: calc( 33.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="7"] {
      width: calc( 29.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="6"] {
      width: calc( 25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="5"] {
      width: calc( 20.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="4"] {
      width: calc( 16.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="3"] {
      width: calc( 12.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="2"] {
      width: calc( 8.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-med="1"] {
      width: calc( 4.16667% - 3vh); } }
  @media screen and (min-width: 1100px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="24"] {
      width: calc( 100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="23"] {
      width: calc( 95.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="22"] {
      width: calc( 91.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="21"] {
      width: calc( 87.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="20"] {
      width: calc( 83.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="19"] {
      width: calc( 79.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="18"] {
      width: calc( 75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="17"] {
      width: calc( 70.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="16"] {
      width: calc( 66.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="15"] {
      width: calc( 62.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="14"] {
      width: calc( 58.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="13"] {
      width: calc( 54.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="12"] {
      width: calc( 50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="11"] {
      width: calc( 45.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="10"] {
      width: calc( 41.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="9"] {
      width: calc( 37.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="8"] {
      width: calc( 33.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="7"] {
      width: calc( 29.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="6"] {
      width: calc( 25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="5"] {
      width: calc( 20.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="4"] {
      width: calc( 16.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="3"] {
      width: calc( 12.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="2"] {
      width: calc( 8.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-lrg="1"] {
      width: calc( 4.16667% - 3vh); } }
  @media screen and (min-width: 1500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="24"] {
      width: calc( 100% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="23"] {
      width: calc( 95.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="22"] {
      width: calc( 91.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="21"] {
      width: calc( 87.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="20"] {
      width: calc( 83.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="19"] {
      width: calc( 79.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="18"] {
      width: calc( 75% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="17"] {
      width: calc( 70.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="16"] {
      width: calc( 66.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="15"] {
      width: calc( 62.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="14"] {
      width: calc( 58.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="13"] {
      width: calc( 54.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="12"] {
      width: calc( 50% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="11"] {
      width: calc( 45.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="10"] {
      width: calc( 41.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="9"] {
      width: calc( 37.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="8"] {
      width: calc( 33.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="7"] {
      width: calc( 29.16667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="6"] {
      width: calc( 25% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="5"] {
      width: calc( 20.83333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="4"] {
      width: calc( 16.66667% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="3"] {
      width: calc( 12.5% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="2"] {
      width: calc( 8.33333% - 3vh); }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"]:not([bx-boxes-tight]) > [bx-width-xl="1"] {
      width: calc( 4.16667% - 3vh); } }
  @media screen {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="24"] {
      width: 100%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="23"] {
      width: 95.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="22"] {
      width: 91.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="21"] {
      width: 87.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="20"] {
      width: 83.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="19"] {
      width: 79.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="18"] {
      width: 75%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="17"] {
      width: 70.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="16"] {
      width: 66.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="15"] {
      width: 62.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="14"] {
      width: 58.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="13"] {
      width: 54.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="12"] {
      width: 50%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="11"] {
      width: 45.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="10"] {
      width: 41.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="9"] {
      width: 37.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="8"] {
      width: 33.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="7"] {
      width: 29.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="6"] {
      width: 25%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="5"] {
      width: 20.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="4"] {
      width: 16.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="3"] {
      width: 12.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="2"] {
      width: 8.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-tny="1"] {
      width: 4.16667%; } }
  @media screen and (min-width: 500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="24"] {
      width: 100%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="23"] {
      width: 95.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="22"] {
      width: 91.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="21"] {
      width: 87.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="20"] {
      width: 83.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="19"] {
      width: 79.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="18"] {
      width: 75%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="17"] {
      width: 70.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="16"] {
      width: 66.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="15"] {
      width: 62.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="14"] {
      width: 58.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="13"] {
      width: 54.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="12"] {
      width: 50%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="11"] {
      width: 45.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="10"] {
      width: 41.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="9"] {
      width: 37.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="8"] {
      width: 33.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="7"] {
      width: 29.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="6"] {
      width: 25%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="5"] {
      width: 20.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="4"] {
      width: 16.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="3"] {
      width: 12.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="2"] {
      width: 8.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-sml="1"] {
      width: 4.16667%; } }
  @media screen and (min-width: 800px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="24"] {
      width: 100%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="23"] {
      width: 95.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="22"] {
      width: 91.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="21"] {
      width: 87.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="20"] {
      width: 83.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="19"] {
      width: 79.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="18"] {
      width: 75%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="17"] {
      width: 70.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="16"] {
      width: 66.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="15"] {
      width: 62.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="14"] {
      width: 58.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="13"] {
      width: 54.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="12"] {
      width: 50%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="11"] {
      width: 45.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="10"] {
      width: 41.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="9"] {
      width: 37.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="8"] {
      width: 33.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="7"] {
      width: 29.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="6"] {
      width: 25%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="5"] {
      width: 20.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="4"] {
      width: 16.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="3"] {
      width: 12.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="2"] {
      width: 8.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-med="1"] {
      width: 4.16667%; } }
  @media screen and (min-width: 1100px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="24"] {
      width: 100%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="23"] {
      width: 95.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="22"] {
      width: 91.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="21"] {
      width: 87.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="20"] {
      width: 83.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="19"] {
      width: 79.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="18"] {
      width: 75%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="17"] {
      width: 70.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="16"] {
      width: 66.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="15"] {
      width: 62.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="14"] {
      width: 58.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="13"] {
      width: 54.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="12"] {
      width: 50%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="11"] {
      width: 45.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="10"] {
      width: 41.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="9"] {
      width: 37.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="8"] {
      width: 33.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="7"] {
      width: 29.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="6"] {
      width: 25%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="5"] {
      width: 20.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="4"] {
      width: 16.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="3"] {
      width: 12.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="2"] {
      width: 8.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-lrg="1"] {
      width: 4.16667%; } }
  @media screen and (min-width: 1500px) {
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="24"] {
      width: 100%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="23"] {
      width: 95.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="22"] {
      width: 91.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="21"] {
      width: 87.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="20"] {
      width: 83.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="19"] {
      width: 79.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="18"] {
      width: 75%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="17"] {
      width: 70.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="16"] {
      width: 66.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="15"] {
      width: 62.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="14"] {
      width: 58.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="13"] {
      width: 54.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="12"] {
      width: 50%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="11"] {
      width: 45.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="10"] {
      width: 41.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="9"] {
      width: 37.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="8"] {
      width: 33.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="7"] {
      width: 29.16667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="6"] {
      width: 25%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="5"] {
      width: 20.83333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="4"] {
      width: 16.66667%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="3"] {
      width: 12.5%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="2"] {
      width: 8.33333%; }
    [bx-boxes][bx-box-width="columns"][bx-box-columns="24"][bx-boxes-tight] > [bx-width-xl="1"] {
      width: 4.16667%; } }
  [bx-boxes]:not([bx-boxes-tight]) > [bx-box] {
    margin-left: calc( 3vh / 2);
    margin-right: calc( 3vh / 2);
    margin-bottom: 3vh; }
  [bx-boxes] > [bx-box-clear] {
    width: 100%; }

[bx-modal] {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow-y: scroll;
  background: #ffffff;
  display: none; }
  [bx-modal][bx-x-axis="center"] {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  [bx-modal] [bx-trans].bx--on {
    display: block; }
  [bx-modal] [bx-trans].bx--entering {
    opacity: 1; }
  [bx-modal] [bx-trans].bx--exiting {
    opacity: 0; }
  [bx-modal].on {
    display: block;
    z-index: 100; }

[bx-modal-bg] {
  background: #17191f;
  /* The Fallback */
  background: rgba(23, 25, 31, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }
  [bx-modal-bg].on {
    display: block;
    pointer-events: all;
    z-index: 99; }

hr {
  border-bottom: solid 1px #f2f2f2; }

.bx-window {
  position: relative;
  background: #f9f9f9;
  margin-bottom: 3vh;
  overflow: hidden;
  background-size: cover;
  background-position-x: center;
  background-position-y: center; }
  .bx-window.bg-repeat {
    background-repeat: repeat; }
  .bx-window.bg-x-left {
    background-position-x: left; }
  .bx-window.bg-x-right {
    background-position-x: right; }
  .bx-window.bg-y-top {
    background-position-y: top; }
  .bx-window.bg-y-bottom {
    background-position-y: bottom; }
  .bx-window.wide {
    height: calc(2vw + 27vh); }
  .bx-window.tall {
    height: calc(5vw + 45vh);
    max-height: 50vh; }
  .bx-window.slit {
    height: calc(2vw + 2vh);
    max-height: 4vh; }
  .bx-window.full-x {
    margin-left: -3vh;
    margin-right: -3vh; }
  .bx-window.full-y {
    margin-top: -3vh; }
    .deboss .bx-window.full-y {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px; }
